.parent {
    text-align: center;
    margin: 3px;
}

.input_parent {
    margin: 3px;
}

.save {
    margin-top: 10px;
}

.a_btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: blue;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.toast-message.success {
    background-color: #4CAF50;
}

.toast-message.error {
    background-color: #f44336;
}

.toast-message.warning {
    background-color: #ff9800;
}